---
interface Props {
  title: string;
}
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es" class="scroll-smooth scroll-pt-24">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Queremos que seas parte de nuestra historia. Elegí tu carrera universitaria e iniciá tu camino profesional. Inscribite aquí."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/landing/images/inicio-favicon.ico"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta itemprop="image" content="/scrapping.jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <!-- <script src="../scripts/scripts.js"></script> -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <meta
      property="og:image"
      content="https://www.ucasal.edu.ar/landing/assets/img/scrapping-presencial.webp"
    />
    <meta
      name="twitter:image:src"
      content="https://www.ucasal.edu.ar/landing/assets/img/scrapping-presencial.webp"
    />
    <meta
      itemprop="image"
      content="https://www.ucasal.edu.ar/landing/assets/img/scrapping-presencial.webp"
    />
    <script is:inline src="https://www.google.com/recaptcha/api.js" async defer
    ></script>
    <script>
        (async () => {
      try {
        const resp = await fetch(`https://sistemasweb.ucasal.edu.ar/v1/oferta-academica?codigoLugar=500`);
        if (!resp.ok) {
          throw new Error(`Network response was not ok: ${resp.statusText}`);
        }
        const data = await resp.json();
        console.log("Data completa:", data);
        const carrerasGrado = data.data.filter(item => item.tipoCarrera === "Grado" && item.codigoCarrera !== 1432);
        console.log("Carreras de grado:", carrerasGrado);
        window.localStorage.setItem("CarrerasModHome", JSON.stringify(carrerasGrado));
      } catch (error) {
        console.error('Fetch error:', error);
      }
    })();

      fetch("https://www.ucasal.edu.ar/landing/assets/datosCarreras.json")
        .then((response) => response.json())
        .then((json) => {
          const datosTarjeta = json.tarjeta;
          console.log(datosTarjeta);
          const banner = json.banner;
          const videoURL = json.videoURL;
          const elementoVideo = document.getElementById("video");
          const promociones = json.promocion;
          const elementoPromocion = document.getElementById("promo");
          let index = 0;
          // Inicializa el contenido de la promoción con el primer mensaje
          elementoPromocion.innerHTML = promociones[index];
          // Función para cambiar el texto de la promoción cada 3 segundos
          function cambiarTexto() {
            index = (index + 1) % promociones.length;
            elementoPromocion.innerHTML = promociones[index];
          }
          // Iniciar el intervalo para cambiar el texto
          setInterval(cambiarTexto, 3000);
          // Actualiza el componente de Tarjeta Macro
          document.getElementById("tarjetaMacro").innerHTML = `
                <img class="w-1/2 bg-white rounded-2xl p-4" src="https://www.ucasal.edu.ar/landing/${datosTarjeta.macro.imagen}" alt="tarjeta macro">
                <p class="text-md">${datosTarjeta.macro.descripcion}</p>
            `;
          // Actualiza el componente de Tarjeta Naranja
          document.getElementById("tarjetaNaranja").innerHTML = `
                <img class="w-1/2 bg-white rounded-2xl p-4" src="https://www.ucasal.edu.ar/landing/${datosTarjeta.naranja.imagen}" alt="tarjeta naranja">
                <p class="text-md">${datosTarjeta.naranja.descripcion}</p>
            `;
          // Actualiza el componente de Tarjeta Banco
          document.getElementById("tarjetaBanco").innerHTML = `
                <img class="w-1/2 bg-white rounded-2xl p-4" src="https://www.ucasal.edu.ar/landing/${datosTarjeta.banco.imagen}" alt="tarjeta banco">
                <p class="text-md">${datosTarjeta.banco.descripcion}</p>
            `;
          // Actualiza el componente banner
          document.getElementById("banner").innerHTML = `
                <source src="${banner.video}" type="video/mp4">
                <source src="${banner.videoOgg}" type="video/ogg">
            `;
          // Actualiza el elemento de video
          elementoVideo.setAttribute("src", videoURL);
        });
    </script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- <script src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>  -->
  </head>
  <body>
    <slot />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
    ></script>
    <script is:inline src="https://www.google.com/recaptcha/api.js" async defer
    ></script>
  </body>
</html>
